In [ ]:
**단계 1:** 전처리에 사용할 패키지 로드

In [3]:
#min-max
import pandas as pd
import numpy as np

In [4]:
# 최소-최대 정규화에 사용할 데이터 초기화

df = pd.DataFrame({'A':[14.00,90.20,90.95,96.27,91.21],
'B':[103.02,107.26,110.35,114.23,114.68], 
'C':['big','small','big','small','small']})

df

       A       B      C
0  14.00  103.02    big
1  90.20  107.26  small
2  90.95  110.35    big
3  96.27  114.23  small
4  91.21  114.68  small

**단계 2:** 직접 구현하는 최소-최대 정규화

In [5]:
# 최소-최대 정규화는 다음의 식에 의해 계산됩니다.
# 정규화 = (x-x_최소값)/(x_최대-x_최소)
# 최대, 최소값은 DataFrame.min() 또는 DataFrame.max() 함수를 사용하여 계산합니다.
# 여기서는 속성 A에 대한 최소-최대 정규화를 진행합니다.

(df["A"] - df["A"].min()) / (df["A"].max() - df["A"].min())

0    0.000000
1    0.926219
2    0.935335
3    1.000000
4    0.938495
Name: A, dtype: float64

In [11]:
# 속성 B에 대한 최소-최대 정규화를 진행합니다.

(df["B"] - df["B"].min()) / (df["B"].max() - df["B"].min())

0    0.000000
1    0.363636
2    0.628645
3    0.961407
4    1.000000
Name: B, dtype: float64

**단계 3:** 함수를 사용하는 최소-최대 정규화

In [6]:
# 정규화 알고리즘을 직접 구현하는 방법도 있지만, 함수를 사용해서 쉽게 구현 가능합니다.
# minmax_scale (X, feature_range, axis, copy)
# X는 정규화의 대상, feature_range는 정규화의 범위 (기본값: range (0,1))
# axis는 0, copy는 true로 사용합니다.

import pandas as pd
import numpy as np
from sklearn.preprocessing import minmax_scale


X = np.array([[ 10., -10., 1.], [ 5., 0., 2.], [ 0., 10., 3.]])

#X_MinMax = (X - X.min(axis=0)) / (X.max(axis=0) - X.min(axis=0))
min_max_scaler = minmax_scale(X, axis=0, copy=True)

In [7]:
#X_MinMax
min_max_scaler

array([[1. , 0. , 0. ],
       [0.5, 0.5, 0.5],
       [0. , 1. , 1. ]])